h1 {
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;

}

#div1 {
    height: 400px;
    width: 600px;
    margin-left: 34%;

}

#div2 {
    margin-top: -18%;
    background-color: grey;
    width: 320px;
    height: 320px;
    box-shadow: 10px 5px 5px black;
}

h2 {
    text-shadow: 2px 2px black;
    color: white;
}

h3 {
    text-shadow: 2px 2px black;
    color: white;


}
body {
    background-image: url("https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg");
    background-size: cover;
    text-align: center;
}