h1 {
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;

}

#div1 {
    height: 400px;
    width: 600px;
    margin-left: 34%;

}

#div2 {
    margin-top: -18%;
}

h2 {
    text-shadow: 2px 2px black;
    color: white;
}

h3 {
    text-shadow: 2px 2px black;
    color: white;


}
body {
    background-color: gray;
    color: white;
}