h1 {
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 90px;
}

#div1 {
    margin-right: auto;
    margin-left: auto;
    background-color: darkgray;
    box-shadow: 10px 5px 5px black;
    padding: 0px 0px;
    width: 1730px;
    height: 120px;
    border-radius: 20px;

}

#div2 {
    background-color: skyblue;
    width: 450px;
    height: 280px;
    box-shadow: 10px 5px 5px black;
    margin-right: auto;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}

#div3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 2px 2px black;
}

#div4 {
    background-color: skyblue;
    height: 170px;
    width: 900px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#div5 {
    margin-left: auto;
    margin-right: auto;

}


#foto {
    box-shadow: 10px 5px 5px black;
    border-radius: 20%;
}


#div6 {
    text-shadow: 2px 2px black
}

h2 {
    text-shadow: 2px 2px black;
    color: white;
}

h3 {
    text-shadow: 2px 2px black;
    color: white;


}
body {
    background-image: url("https://images.pexels.com/photos/861443/pexels-photo-861443.jpeg");
    background-size: cover;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}